body {
  font: 14px/24px "Open Sans", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #999999 !important;
}